@media screen and (max-width: 800px) {
    .red {
        background-color: #eda1ab;
        left: 42.5%;
      }
      .orange {
        background-color: #f8d098;
        left: 45%;
      }
      .yellow {
        background-color: #ffff9d;
        left: 47.4%;
      }
      .green {
        background-color: #beeb9f;
        left: 50%;
      }
      .blue {
        background-color: #82c7eb;
        left: 52.3%;
      }
      .purple {
        background-color: #ab93c9;
        left: 54.5%;
      }
}