@media screen and (max-width: 360px) {
  .wrapper {
    width: 350px;
    height: 720px;
    background: url("../img/telephone.png") 0 0 / 100% no-repeat;
  }
  .wrapper_two {
    margin: 0 auto;
    width: 280px;
    height: 550px;
    padding-top: 170px;
  }
  .btn {
    display: block;
    justify-content: center;
    align-items: center;
    width: 254px;
    height: 65px;
    font-weight: bold;
    border: 1px solid #7a9eaf;
    box-sizing: border-box;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 97.19%;
    color: #7a9eaf;
    background-color: white;
    margin: 0 auto;
    outline: none;
  }
  .btn:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
  }
  .text {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 97.19%;
    text-align: center;
    color: #7a9eaf;
    padding: 15px 35px 0px 35px;
  }
  .slider {
    min-width: 0;
    position: relative;
    padding: 0 60px;
  }
  .slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1000;
    font-size: 0;
    width: 20px;
    height: 9px;
    border: none;
    padding: 0;
    outline: none;
  }
  .slider .slick-arrow:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
  }
  .slider .slick-arrow.slick-prev {
    left: 0;
    background: url("../img/left.svg") no-repeat;
    padding-top: 30px;
    outline: none;
  }
  .slider .slick-arrow.slick-next {
    right: 0;
    background: url("../img/right.svg") no-repeat;
    padding-top: 30px;
    outline: none;
  }
  .slider__item {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 90px;
    height: 174px;
    margin: 0 40px;
    outline: none;
  }
  .slider__item:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
  }
  .slider__item img {
    width: 100%;
    height: 100%;
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    display: flex;
  }
  .colors__text {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 97.19%;
    text-align: center;
    color: #7a9eaf;
    padding-top: 25px;
  }
  input[type="radio"] {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    top: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    margin-top: 530px;
    outline: none;
    background: none;
  }
  input[type="radio"]:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
  }
  .red {
    background-color: #eda1ab;
    left: 30%;
  }
  .orange {
    background-color: #f8d098;
    left: 37%;
  }
  .yellow {
    background-color: #ffff9d;
    left: 43.5%;
  }
  .green {
    background-color: #beeb9f;
    left: 50%;
  }
  .blue {
    background-color: #82c7eb;
    left: 56%;
  }
  .purple {
    background-color: #ab93c9;
    left: 63%;
  }
}
