@media screen and (max-width: 1366px) {
  .wrapper {
    position: relative;
    width: 235px;
    height: 470px;
    margin: 0 auto;
    background: url("../img/telephone.png") 0 0/ 100% no-repeat;
  }
  .wrapper_two {
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 269px;
    padding-top: 100px;
    z-index: 1000;
  }
  .btn {
    width: 164px;
    height: 38px;
    border: 1px solid #7a9eaf;
    box-sizing: border-box;
    font-weight: 400;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 97.19%;
    color: #7a9eaf;
    background-color: white;
    margin: 0 auto;
  }
  .text {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 97.19%;
    text-align: center;
    color: #7a9eaf;
    padding-top: 20px;
  }
  .slider {
    min-width: 0;
    position: relative;
  }
  .slider .slick-arrow {
    position: absolute;
    top: 50%;
    /* margin: -30px 0 0 0; */
    z-index: 1000;
    font-size: 0;
    width: 20px;
    height: 9px;
    border: none;
  }
  .slider .slick-arrow.slick-prev {
    left: 0;
    background: url("../img/left.png") 0 0 / 100% no-repeat;
    transform: rotate(135deg);
  }
  .slider .slick-arrow.slick-next {
    right: 0;
    background: url("../img/right.png") 0 0 / 100% no-repeat;
    transform: rotate(-135deg);
  }
  .slider__item {
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 62px;
    max-height: 127px;
    margin: 0 50px;
  }
  .slider__item img {
    width: 100%;
    height: 100%;
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    display: flex;
  }
  .colors__text {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 97.19%;
    text-align: center;
    color: #7a9eaf;
    margin: 0;
    padding-top: 5px;
  }
  input[type="radio"] {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 13px;
    height: 13px;
    top: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    margin-top: 357px;
  }
  .red {
    background-color: #eda1ab;
    left: 45.8%;
  }
  .orange {
    background-color: #f8d098;
    left: 47.2%;
  }
  .yellow {
    background-color: #ffff9d;
    left: 48.5%;
  }
  .green {
    background-color: #beeb9f;
    left: 49.8%;
  }
  .blue {
    background-color: #82c7eb;
    left: 51%;
  }
  .purple {
    background-color: #ab93c9;
    left: 52.5%;
  }
}
