@media screen and (max-width: 1000px) {
    .red {left: 42.7%;}
    .orange {left: 45.3%;}
    .yellow {left: 47.7%;}
    .green {left: 50%;}
    .blue {left: 52.3%;}
    .purple {left: 54.7%;}
}