@media screen and (max-width: 1100px) {
    .red {left: 44.5%;}
    .orange {left: 46.3%;}
    .yellow {left: 48%;}
    .green {left: 49.7%;}
    .blue {left: 51.5%;}
    .purple {left: 53.3%;}
}